<mat-card>
	<mat-card-title>Предоставьте инфомарцию о себе</mat-card-title>
	<mat-horizontal-stepper #stepper>

		<mat-step label="{{formInformation.fullName.label | uppercase}}" [stepControl]="fullNameFormGroup">
			<form [formGroup]="fullNameFormGroup">
				<mat-form-field>
					<mat-label>{{ formInformation.fullName.matLabel | titlecase }}</mat-label>
					<input
						matInput
						placeholder="{{formInformation.fullName.placeholder | titlecase}}"
						type="text"
						formControlName="fullNameCtrl"
						required
					>
				</mat-form-field>
				<div>
					<button mat-button matStepperNext>Далее</button>
				</div>
			</form>
		</mat-step>

		<mat-step label="{{formInformation.birthday.label | titlecase}}" [stepControl]="birthdayFormGroup">
			<form [formGroup]="birthdayFormGroup">
				<mat-form-field>
					<mat-label>{{ formInformation.birthday.matLabel | titlecase }}</mat-label>
					<input
						matInput
						[matDatepicker]="picker"
						placeholder="{{formInformation.birthday.placeholder | uppercase}}"
						formControlName="birthdayCtrl"
						[min]="minDate"
						[max]="maxDate"
						required
					>
					<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker #picker></mat-datepicker>
				</mat-form-field>
      	<div>
        	<button mat-button matStepperPrevious>Назад</button>
        	<button mat-button matStepperNext>Далее</button>
      	</div>
			</form>
		</mat-step>

		<mat-step label="{{formInformation.sex.label | titlecase}}" [stepControl]="sexFormGroup">
			<form [formGroup]="sexFormGroup">
				<mat-form-field>
					<mat-label>{{formInformation.sex.matLabel | titlecase}}</mat-label>
					<mat-select
						required
						placeholder="{{formInformation.sex.placeholder | titlecase}}"
						formControlName="sexCtrl"
					>
						<mat-option *ngFor="let sex of sexOptions" [value]="sex.view">
							{{ sex.view }}
						</mat-option>
					</mat-select>
				</mat-form-field>
				<div>
					<button mat-button matStepperPrevious>Назад</button>
					<button mat-button matStepperNext>Далее</button>
				</div>
			</form>
		</mat-step>

		<mat-step label="{{formInformation.snils.label | uppercase}}" [stepControl]="snilsFormGroup">
			<form [formGroup]="snilsFormGroup">
				<mat-form-field>
					<mat-label>{{formInformation.snils.matLabel | titlecase}}</mat-label>
					<input
						matInput
						placeholder='{{formInformation.snils.placeholder | uppercase}}'
						type="text"
						formControlName="snilsCtrl"
						required
						type="number"
					>
				</mat-form-field>
				<div>
					<button mat-button matStepperPrevious>Назад</button>
					<button mat-button matStepperNext>Далее</button>
				</div>
			</form>
		</mat-step>

		<mat-step label="Подтверждение">
			<p>Сохранить данные?</p>
			<div>
				<button mat-button matStepperPrevious>Назад</button>
				<button mat-button (click)=(onConfirm(stepper))>Сохранить</button>
			</div>
		</mat-step>
	</mat-horizontal-stepper>
</mat-card>
