<div class="table-container">
  <button
    mat-raised-button
    color="primary"
    (click)="removeSelectedRows()"
    [disabled]="selectionData.selected && selectionData.selected.length === 0"
    class="delete-button"
  >
    Удалить выбранные строки
  </button>
  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
				<mat-checkbox
					(change)="$event ? selectAndClearToogle() : null"
          [checked]="selectionData.hasValue() && isCheckForAllSelect()"
					[indeterminate]="selectionData.hasValue() && !isCheckForAllSelect()"
				>
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
				<mat-checkbox
					(click)="$event.stopPropagation()"
          (change)="$event ? selectionData.toggle(row) : null"
					[checked]="selectionData.isSelected(row)"
				>
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fullName">
      <mat-header-cell *matHeaderCellDef>{{ tableHeaders.fullName | uppercase }}</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.fullName }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="birthday">
      <mat-header-cell *matHeaderCellDef>{{ tableHeaders.birthday | titlecase }}</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ getPrettyDate(element.birthday) }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="sex">
      <mat-header-cell *matHeaderCellDef>{{ tableHeaders.sex | titlecase }}</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.sex }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="snils">
      <mat-header-cell *matHeaderCellDef>{{ tableHeaders.snils | uppercase }}</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.snils }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumns;"
      (click)="selection.toggle(row)">
    </mat-row>
  </mat-table>
</div>
